.container{

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: silver;


}
.card {
  background-image: url("atmbg/bg5.jpg");
  width: 480px;
  height: 300px;
  border-radius: 10px;
 
  display: flex;
  flex-direction: column;
  line-height: 0%;
}
.top{
  display: flex;
  justify-content: space-between;
  margin: 2px;
  font-size: 25px;
  padding-left: 10px;
}
.top :nth-last-child(1){
  padding-right: 10px;
  font-size: 20px;

}
.chip{
  height: 80px;
  width: 80px;
}
.container {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 2px;
  font-style: normal;
}
  

.imgcontainer{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  
}
.imgcontainer :nth-child(1){

  margin-left: 15px;
  font-size: 20px;
  
}

.valid{
  line-height: 0%;
  text-align: center;
  margin-right: 15px;
}
.cardname:nth-last-child(1){
  font-size: 25px;
}
.cardname{
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-between;
}
.arrow{
  font-weight: 900;
  align-self: center;
  
}
.imgman{
  display: flex;
  gap: 10px;
  align-self: center;
 

 justify-content: space-between;

}
.carder{
  font-size: 25px;
  margin-left: 15px;
}
.input-container{

  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 22px;
  border: 2px solid ;
  box-shadow: 80px grey ;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input {
  height: 30px;
}
select{
  height: 30px;
}
button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}

button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

button:hover::before {
  filter: blur(20px);
}

button:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}
.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
}

.coolinput label.text {
  font-size: 0.75rem;
  color: #818CF8;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #e8e8e8;
  width: fit-content;
}

.coolinput input[type=text].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #818CF8 solid;
  border-radius: 5px;
  background: #e8e8e8;
}

.coolinput input[type=text].input:focus {
  outline: none;
}

